<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Audit Tool</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css') }}">
</head>
<body>
    <header>
        <nav class="nav">
            <ul>
                <li><a href="http://127.0.0.1:5000">Network Scanner</a></li>
                <li><a href="http://127.0.0.1:5001">Windows Scanner</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Tools</a>
                    <div class="dropdown-content">
                      <a href="http://127.0.0.1:5002">Security Audit Tool</a>
                      <a href="http://127.0.0.1:5003">Subdomain Finder</a>
                      <a href="http://127.0.0.1:5004">Live Subdomain Finder</a>
                      <!-- Add more tools as needed -->
                    </div>
                  </li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Security Audit Tool</h1>
        <form method="POST">
            <label for="domain">Enter the target domain:</label>
            <input type="text" id="domain" name="domain" placeholder="example.com" required>
            <button type="submit">Audit</button>
        </form>

        <div class="buttons">
            <button onclick="window.location.href='/'">New Search</button>
            <a href="/download_report" download>
                <button type="button">Download Report</button>
            </a>
        </div>

        {% if subdomains %}
        <div class="results subdomain-list">
            <h2>Subdomains:</h2>
            <ul>
                {% for subdomain in subdomains %}
                <li>{{ subdomain }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if domain_info %}
        <div class="results">
            <h2>WHOIS Info:</h2>
            <pre>{{ domain_info }}</pre>
        </div>
        {% endif %}

        {% if dns_info %}
        <div class="results">
            <h2>DNS Info:</h2>
            <pre>{{ dns_info }}</pre> <!-- Use pre tag for full visibility -->
        </div>
        {% endif %}

        {% if headers %}
        <div class="results">
            <h2>HTTP Headers:</h2>
            <pre>{{ headers }}</pre>
        </div>
        {% endif %}

        {% if audit_results %}
        <div class="results">
            <h2>Security Audit:</h2>
            <ul>
                {% for vulnerability in audit_results %}
                <li>{{ vulnerability }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</body>
</html>
