<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local System Vulnerability Scanner</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:5000">Network Scanner</a></li>
                <li><a href="http://127.0.0.1:5001">Windows Scanner</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Tools</a>
                    <div class="dropdown-content">
                      <a href="http://127.0.0.1:5002">Security Audit Tool</a>
                      <a href="http://127.0.0.1:5003">Subdomain Finder</a>
                      <a href="http://127.0.0.1:5004">Live Subdomain Finder</a>
                      <!-- Add more tools as needed -->
                    </div>
                  </li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </nav>
    </header>
    <div class="button-container">
        <h1>Local System Vulnerability Scanner</h1>
        <form action="/scan" method="post" style="display:inline;">
            <button type="submit">Run Scan</button>
        </form>
        <form action="/" method="get" style="display:inline;">
            <button type="submit">New Scan</button>
        </form>
        {% if scan_results %}
        <form action="/download_report" method="post" style="display:inline;">
            <button type="submit">Download Report (PDF)</button>
        </form>
        {% endif %}
    </div>
    {% if scan_results %}
    <div id="report">
        <h2>Scan Results</h2>
        <pre>{{ scan_results }}</pre>
    </div>
    {% endif %}
</body>
</html>
